@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply mb-2 bg-gray-700 outline-none px-4 h-10 rounded-lg w-full;
  }

  .choices {
    @apply flex flex-col mr-8 mt-4 w-full;
  }

  .link {
    @apply hover:text-gray-400 transition duration-300 dmd:text-sm;
  }

  .btn {
    @apply mb-4 bg-gray-800 h-10 w-full rounded-lg shadow-lg transition duration-300 hover:bg-gray-700 focus:ring ring-gray-600 ring-offset-4 ring-offset-gray-900 text-base;
  }

  option {
    @apply text-base;
  }
}

::-webkit-scrollbar-track {
  background-color: #111827;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #111827;
}
::-webkit-scrollbar-thumb {
  background-color: #28b369;
  border-radius: 8px;
}
