@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:text-gray-400 transition duration-300 text-sm;
  }

  .btn {
    @apply mb-4 bg-gray-800 h-10 w-full rounded shadow-lg transition duration-300 hover:bg-gray-700 focus:ring ring-gray-500 ring-offset-4 ring-offset-gray-900 text-base;
  }

  .output {
    @apply mb-1 outline-none shadow-lg w-[25rem] xl:w-[30rem];
  }

  .attribution {
    @apply text-green-400 md:text-xs;
  }

  .input {
    @apply relative w-full py-2 text-left bg-gray-700 rounded text-sm lg:text-base outline-none h-[40px] px-[20px];
  }
}

::selection {
  background: #059669;
}

::-webkit-scrollbar-track {
  background-color: #111827;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #111827;
}
::-webkit-scrollbar-thumb {
  background-color: #28b369;
  border-radius: 8px;
}
